<header class="container-fluid">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!--Indicators -->
    <ol class="carousel-indicators">
      <% @posts.each_with_index do |post, i| %>
      <li data-target="#myCarousel" data-slide-to="<%= i %>" class="<%= " active" if post == @posts.first %>"></li>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% @posts.each do |post| %>
      <div class="item<%= " active" if post == @posts.first %>">
        <%= image_tag(post.image_url, class: "img-responsive")%>
        <div class="carousel-caption">
          <h2><%= post.title %></h2>
          <br>
          <%= link_to 'Read', post, class:'btn btn-carousel' %>
        </div>
      </div>
      <% end %>
    </div>
  </div><!-- carousel -->
</header>
<main class="container">
  <div class="row">
    <div class="main-header">
      <h2>CareerFoundry Blog</h2>
    </div>
  </div>

  <div class="row top">
    <%= form_with(url:posts_path, method: 'get', local: true) do |form| %>
    <%= form.label :q, 'Search for:' %>
    <%= form.text_field :q, id: 'q', class: "search-box hidden-xs", placeholder:"Search", value: params[:q] %>
    <%= form.submit 'Search', style:"display:none" %>
    <% end %>
  </div>


  <div class="row new-link">
    <% if signed_in? && current_user.admin?%>
    <%= link_to 'New post', new_post_path(@post), class: "btn btn-primary" %>
    <% end %>
  </div>


  <div class="row">
    <div class="posts">
      <% @posts.each do |post| %>
      <%= render post %>
      <% end %>
    </div>
  </div>
</main>
